<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="login__wrapper">
        <form action="/login" method="post">
            <label >用户名:<input type="text" name="username"></label>
            <label >密码:<input type="password" name="password"></label>
            <input type="submit">
        </form>
    </div>
    <script>
        loginBtn.onclick = function() {
            console.log("fuck you!")
        }
    </script>
</body>
</html>